.fer-store-web{
    display: flex;
    justify-content: center;
} 

.fer-store-content{
    width:87%;
}
/*Search bar*/
.Store_bar {
    background-color: #9BE564;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
    flex-wrap:nowrap;
}

.Search_bar{
    flex-grow: 4;
}

.Search_input{
    width: 80% !important;
    height: 35px;
    left: 279px;
    top: 19px;
    background: #FFFFFF;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 17.5px;
    padding-left: 10px;
}

input{
    outline: none; 
    border:none;
}

input:focus {
    outline: none;
}

button{
    margin:0;
    border:none;
}

.Search_button{
    background: #9BE564;
    color: #FFFFFF;
    font-size: 20px;
    width:auto;
}

.shopping_details{
    background-color: #9BE564;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.shopping_details p{
    margin: 0px;
}

.shopping_cart{
    background: #9BE564;
    color: #FFFFFF;
    font-size: 20px;
    width:auto;
}

.shopping_cart:hover{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.Search_button:hover{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

/*Shop corousel*/
.shop-corousal-container button.sc-bdnxRM.cGKbZh.rec.rec-arrow.rec.rec-arrow-right{
 display: none;
}

.shop-corousal-container button.sc-bdnxRM.cGKbZh.rec.rec-arrow.rec.rec-arrow-left{
    display: none;
}

.shop-corousal-container button.sc-bdnxRM.ehkxHv.rec.rec-arrow.rec.rec-arrow-left{
    display:none;
}

.shop-corousal-container button.sc-bdnxRM.ehkxHv.rec.rec-arrow.rec.rec-arrow-right {
    display:none;
}

.shop-corousal-container button.sc-gKAaRy.jLgnwX.rec.rec-dot{
    display: block;
    border-radius: 0;
    height: 2px;
    width:20px;
    box-shadow: 0 0 1px 1px rgb(0 0 0 / 50%);
}

.shop-corousal-container button.sc-gKAaRy.ejXxNI.rec.rec-dot.rec.rec-dot_active{
    display:block;
    background-color: rgb(155, 229, 100);
    box-shadow: 0 0 1px 1px rgb(155, 229, 100);
    border-radius: 0;
    height: 2px;
    width:20px;
}

/* fer-categories*/

.fer-topic{
    margin-top: 40px;
    margin-left: 30px;
}

.fer-cat{
    display: flex;
}

.fer-cat-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:10px;
}

.fer-cat-image img{
    width: 150px;
    height: 150px;
    left: 305px;
    top: 306px;
    background: url(../../assets/images/fer-cat-1.jpg);
    border: 4px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 75px;
}

.fer-cat-image img:hover{
    width: 160px;
    height: 160px;
    border-radius: 80px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.fer-cat-item:hover{
    margin-top:5px;
    margin-bottom: 5px;
}

.rec-pagination{
    display:none;
}

button.sc-gKAaRy.jLgnwX.rec.rec-dot{
    display: none;
}

button.sc-gKAaRy.ejXxNI.rec.rec-dot.rec.rec-dot_active{
    display:none;
}

button.sc-bdnxRM.cGKbZh.rec.rec-arrow.rec.rec-arrow-right{
    background-color: #9BE564;
    margin-right: 5px;
}

button.sc-bdnxRM.cGKbZh.rec.rec-arrow.rec.rec-arrow-left{
    background-color: #9BE564;
    margin-left: 5px;
}

button.sc-bdnxRM.ehkxHv.rec.rec-arrow.rec.rec-arrow-left{
    background-color: #f2f2f2;
    color: #f2f2f2;
    background: none !important;
    border: none;
    box-shadow: none;
    margin-left: 5px;
}

button.sc-bdnxRM.ehkxHv.rec.rec-arrow.rec.rec-arrow-right {
    background-color: #f2f2f2;
    color: #f2f2f2;
    background: none !important;
    border: none;
    box-shadow: none;
    margin-right: 5px;
}

.sc-dlnjwi.dTGAUq.rec.rec-slider-container{
    margin:0;
}
/*corousal slider*/
.shop-corousal{
    width:100%;
    height:300px;
}


/* fer-product*/

.fer-products_row{
    display: flex;
}

.fer-product-container{
    margin: 20px;
    width: 200px;
    height: 250px;
    left: 317px;
    top: 522px;

    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.fer-product-avatar img{
    width: 200px;
    height: 170px;
    left: 317px;
    top: 522px;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 8px 8px 0px 0px;
}

.fer-product-description{
    width: 200px;
    height: 80px;
    padding: 5px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 0px 0px 8px 8px;
}

.rightLeft{
    font-size: 20px;
}

.clip-star {
    background:#D3D711;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    height: 18px;
    width: 18px;
    border-radius: 5px;
}

.rating{
    align-items: center;
    display: flex;
    justify-content:start;
}

h6{
    margin-bottom: 2px;
}

.fer-price{
    display: flex;
    justify-content: space-between;
}

.fer-price h6{
    font-size: 95%;
    margin-top: 5px;
}

.fer-price button{
    background: #9BE564;
    border-radius: 5px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 3px;
    width:fit-content;
    height: fit-content;
}

.fer-price button:hover{
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.fer-product-container:hover{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.offer-price-text h6{
    margin: 0;
    font-size: 95%;
}

.offer-nor-price h6{
    color: red;
    text-decoration: line-through;
}
