.staffListCon{
    display: flex;
    margin-top: 10px;
}
.staffList{
    flex: 4;
  
}
.staffListUser{
    display: flex;
    align-items: center;

}
.staffListImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.staffListEdit{

    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    margin-right: 20px;
    cursor: pointer;
}

.staffListDelete{
    color: red;
    cursor: pointer;
    
    


}