.mainSection{
  display:flex;
  justify-content: center;
}
.contact{
  display:flex ;
  align-items: center;
  justify-content: space-between;
  width:87%;
}
.leftSection{
  display: flex;
  /*align-items: center;
  justify-content: center;*/
  flex-direction: column;
}

.contact-image img{
  /*flex:1 1 40rem;*/
  width:500px;
  height: 400px;
  padding: 20px;
  padding-left: 0px;
  padding-right: 0px;
}
.mapouter iframe{
  width:500px;
  height: 300px;

}

.formSection form{
  display:flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
}

.formSection form{
  flex:1 1 40rem;
  padding-left:4rem;
  padding-right:4rem;
  padding-bottom:4rem;
  border:.1rem solid rgba(0,0,0,.2);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  border-radius: .3rem;
  background:#fff;
  width:500px;
  height: 700px;
  margin-top: 20px;
  
}

.contact-heading{
  text-align: left;
  padding:0;
  padding-bottom:none;
  padding-top: 0.3rem;
  font-size: 1.9rem;
  color:#2e8f17;
}

.contact-inputBox{
  position: relative;
}

.contact-inputBox input, .contact-inputBox textarea{
  width:100%;
  background:none;
  color:#666;
  margin:1rem 0;
  padding:.4rem 0;
  font-size: 1.2rem;
  border-bottom: .1rem solid rgba(18, 247, 67, 0.1);
  text-transform: none;
}

.contact-inputBox textarea{
  resize: none;
  height: 8.5rem;
}

.contact-inputBox label{
  position: absolute;
  top:1.7rem; left:0;
  font-size: 1.4rem;
  color:black;
  transition: .2s linear;
}

.contact-inputBox input:focus ~ label,
.contact-inputBox input:valid ~ label,
.contact-inputBox textarea:focus ~ label,
.contact-inputBox textarea:valid ~ label{
  top:-.5rem;
  font-size: 1.2rem;
  color:var(--pink);
}

.contactbtn{
  text-align: center;
  border-radius: 5rem;
  background:linear-gradient(180deg, #80b953 2.08%, #2c9984 95.83%);
  font-size: 1.5rem;
  color:white;
  cursor: pointer;
  transition: all .2s linear;
  width:12rem; 
}

